---
import Layout from "../layouts/Layout.astro";
import { DealsGrid } from "../components/DealsGrid";
---

<Layout title="Game Price Comparison - Encuentra las mejores ofertas">

  <!-- Deals Section -->
  <section class="container mx-auto px-4 py-12 w-5/6 mt-12">
    <DealsGrid client:load />
  </section>
</Layout>
